* {
    margin: 0;
}

html * {
    font-size: 16px;
    line-height: 1.625;
    font-family: Helvetica, sans-serif;
}


.navbar {
    position: sticky;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    /* gap: 50px; */

}

.inside-nav {
    display: flex;
    position: sticky;
    margin-left: 1000px;
}

.navbar a {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#item1 {
    margin-left: 50px;


}

#item2 {
    margin-left: 50px;

}

#item3 {
    margin-left: 50px;

}

#item4 {
    margin-left: 50px;

}

#item5{
    margin-left: 50px;

}
#item5 :hover {
    background-color: black;

}

#login {
    margin-left: 30px;

}

/* Subscribe Button on Navbarf */
#btn1 {
    position: relative;
    margin-left: -20px;
    width: 100px;
    border-radius: 3px;
    color: aliceblue;
    background-color: brown;
    border: none;
    /* border-left-width: -30px; */
}




#item7 {
    margin-top: 3px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
}